<div class="clanak-mini">
  <div class="article-title">
    {{blogItemData.title}}
  </div>
  <div class="article-content">
    <div class="picPlaceholder"></div>
    <div class="article-desc">
      {{blogItemData.content}}
    </div>
    <div class="article-vote">
      <img id="siteLogo" src="../../assets/images/starts.png" alt="Black and white books icon" width="120px" height="40px" />
    </div>
    <div class="article-add-to-favourites">
      <img id="siteLogo" src={{blogItemData.imageSrc}} alt="Black and white books icon" width="40px" height="40px" />
    </div>
  </div>
</div>
