<div class="clanak-mini">
  <div class="article-title">TITLE</div>
  <div class="article-content">
    <div class="picPlaceholder"></div>
    <div class="article-desc">
      dsak fčlma f čkCCmakfćm daskfćmads kčfćmdsfćmadsćfdč fmečkmakfćmdas
      kfćmadskčfćm dsfćmadsćfdč fmečlkfmedfčekmf člfemdfčklem dsakfčlmafčkma
      kfćmdaskfćmadsk čfćmdsfćmadsćf dčfmečl kfmedfčekm fčlfemdfčkl emdsakfčlma
      fčkmakfćmdas kfćmadskč fćmdsfćmad sćfdčfmečlk fmedfčekm f dsak fčlma f
      čkCCmakfćm daskfćmads kčfćmdsfćmadsćfdč fmečkmakfćmdas kfćmadskčfćm
      dsfćmadsćfdč fmečlkfmedfčekmf člfemdfčklem dsakfčlmafčkma kfćmdaskfćmadsk
      čfćmdsfćmadsćf dčfmečl kfmedfčekm fčlfemdfčkl emdsakfčlma fčkmakfćmdas
      kfćmadskč fćmdsfćmad sćfdčfmečlk fmedfčekm f dsak fčlma f čkCCmakfćm
      daskfćmads kčfćmdsfćmadsćfdč fmečkmakfćmdas kfćmadskčfćm dsfćmadsćfdč
      fmečlkfmedfčekmf člfemdfčklem dsakfčlmafčkma kfćmdaskfćmadsk
      čfćmdsfćmadsćf dčfmečl kfmedfčekm fčlfemdfčkl emdsakfčlma fčkmakfćmdas
      kfćmadskč fćmdsfćmad sćfdčfmečlk fmedfčekm f dsak fčlma f čkCCmakfćm
      daskfćmads kčfćmdsfćmadsćfdč fmečkmakfćmdas kfćmadskčfćm dsfćmadsćfdč
      fmečlkfmedfčekmf člfemdfčklem dsakfčlmafčkma kfćmdaskfćmadsk
      čfćmdsfćmadsćf dčfmečl kfmedfčekm fčlfemdfčkl emdsakfčlma fčkmakfćmdas
      kfćmadskč fćmdsfćmad sćfdčfmečlk fmedfčekm f dsak fčlma f čkCCmakfćm
      daskfćmads kčfćmdsfćmadsćfdč fmečkmakfćmdas kfćmadskčfćm dsfćmadsćfdč
      fmečlkfmedfčekmf člfemdfčklem dsakfčlmafčkma kfćmdaskfćmadsk
      čfćmdsfćmadsćf dčfmečl kfmedfčekm fčlfemdfčkl emdsakfčlma fčkmakfćmdas
      kfćmadskč fćmdsfćmad sćfdčfmečlk fmedfčekm f dsak fčlma f čkCCmakfćm
      daskfćmads kčfćmdsfćmadsćfdč fmečkmakfćmdas kfćmadskčfćm dsfćmadsćfdč
      fmečlkfmedfčekmf člfemdfčklem dsakfčlmafčkma kfćmdaskfćmadsk
      čfćmdsfćmadsćf dčfmečl kfmedfčekm fčlfemdfčkl emdsakfčlma fčkmakfćmdas
      kfćmadskč fćmdsfćmad sćfdčfmečlk fmedfčekm f
    </div>
    <div class="article-vote">
      <img
        id="siteLogo"
        src="../../assets/images/starts.png"
        alt="Black and white books icon"
        width="120px"
        height="40px"
      />
    </div>
    <div class="article-add-to-favourites">
      <img
        id="siteLogo"
        src="../../assets/images/favorites-add-icon.png"
        alt="Black and white books icon"
        width="40px"
        height="40px"
      />
    </div>
  </div>
</div>
