<div class="review">
  <div class="review-first">
    <div class="user-profile-pic">
      <img id="siteLogo" src={{this.revData.profilePicScr}} alt="Black and white books icon" width="30px" height="30px" />
    </div>
    <div class="username">
      {{this.revData.username}}
    </div>
  </div>
  <div class="review-second">
    <div class="stars">
      Ocjena: {{this.revData.rating}}
    </div>
    <div class="review-title">
      Naslov recenzije: {{this.revData.revTitle}}
    </div>
  </div>
  <div class="review-content">
    {{this.revData.revContent}}
  </div>
  <hr />
</div>
