.review {
  border: 3px solid black;
  display: grid;
  grid-template-rows: 50px 40px auto;
  margin: 10px;
}

.review-first {
  border: 3px solid black;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 25px;
  display: flex;
}

.review-second {
  border: 3px solid black;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 20px;
  display: flex;
}

.review-content {
  border: 3px solid black;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 10px;
}

.username {
  padding: 5px;
}

.review-title {
  padding: 5px;
}
