<div id="favourites">
  <p>Your favourite books:</p>
  <div class="favourite">prva</div>
  <div class="favourite">druga</div>
  <div class="favourite">treca</div>
  <div class="favourite">cetvrta</div>
  <div class="favourite">peta</div>
  <div class="favourite">prva</div>
  <div class="favourite">druga</div>
  <div class="favourite">treca</div>
  <div class="favourite">cetvrta</div>
  <div class="favourite">peta</div>
  <div class="favourite">prva</div>
  <div class="favourite">druga</div>
  <div class="favourite">treca</div>
  <div class="favourite">cetvrta</div>
  <div class="favourite">peta</div>
</div>
